.ya {
  background-color: #bf8578;
  color: azure;
  opacity: 0.8;
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  columns: 1;
  text-align: center;
  font-family: 'Zilla Slab', serif;
  border: solid 5px white
  ;
  border-radius:50%;
  border-bottom-right-radius: 0% ;
}
body {
  background-image: url(https://stickershop.line-scdn.net/stickershop/v1/sticker/7772234/android/sticker.png),
    url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 200px, cover;
  background-position: center bottom, center bottom;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
div {
  width: 60%;
  color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0.6), alpha);
  line-height: 1.25;
  columns: 2;
  text-align: justify;
}
