body {
  background: white;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  box-sizing: border-box;
}

.nav{
  background: #B0B0B0;
  text-align: right;
  padding: 1em;
  border-bottom: solid 0.5px black;
  position: fixed;
  top: 0%;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.a{
  margin: 10px;
}

.sec1{
  width: 100%;
  height: 100vh;
}

.img1{
  width: 100%;
  height: 100%;
}

.sec2{
  display: flex;
}

.sec2div{
  justify-content: center;
  padding: 1em 1em 1em 0em;
  width: 50%;
  height: 100vh;
}

.img2{
  width: 100%;
  height: 100%;
}

.sec3div{
width: 100%;
height: 100vh;
padding: 1em;
display: flex;
}

.sec3art{
  margin: 0px auto;
  justify-content: space-evenly;
  align-content: center;
  width: 20%;
  height: 30%;
}

.sec3artdiv{
  width: 100%;
  height: 100%;
}

.sec3artdivimg{
  width: 100%;
  height: 100%;
}
