body {
  background: #fff;
  width: 100vw;
  max-width: 1024px;
  margin: auto;
}
.div {
  text-align: right;
  padding: 20px;
  width: 100%;
  border-bottom: solid 1px #000;
  position: fixed;
  right: 0%;
  top: 0;
  background-color: yellow;
}
.a1 {
  margin: 5px;
}
.sectionA {
  border-bottom: dashed 1px #000;
  padding: 20px;
  overflow: auto;
  height: 100vh;
  box-sizing: border-box;
}
.img{
  width: 100%;
}
.sectionAdiv {
  width: 30%;
  display: inline-block;
  vertical-align: baseline;
}
.sectionB {
  border-bottom: dashed 1px #000;
  padding: 20px;
  overflow: auto;
  height: 100vh;
  box-sizing: border-box;
}
.sectionC {
  border-bottom: dashed 1px #000;
  padding: 20px;
  overflow: auto;
  height: 100vh;
  box-sizing: border-box;
}
.sectionD {
  border-bottom: dashed 1px #000;
  padding: 20px;
  overflow: auto;
  height: 100vh;
  box-sizing: border-box;
}
